.alerts {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    max-width: 50vw;
}

.alerts__box {
    margin: 15px 0;
    font-size: 1rem;
    align-items: center;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid;
    box-shadow: 2px 2px 5px #ddd;
}

.alerts__box > p {
    margin-left: 10px;
    letter-spacing: 1px;
}

.alerts__box.success {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
}

.alerts__box.error {
    background-color: #007bff;
    color: #fff;
    border-color: transparent;
}
